/*Author: Hugo Pretorius
Assignment: Minor Project – FDWM Assessment 2
Student ID: STU-00001224
Date: 2017/02/06
Ref:
https://materialdesignicons.com/
https://fonts.google.com/specimen/Merriweather?selection.family=Merriweather:400,700|Open+Sans:300,400
https://html5boilerplate.com/*/

article.container > section {
    padding: 0 20px;
}
article.container > section header {
    padding: 8px 0;
    border-bottom: 1px solid #efefef;
}
article.container > section header h1 {
    font-size: 15px;
    font-weight: 700;
    color: #005689;
    font-family: "Merriweather";
    margin: 0;
}
article.container > section .article-title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
    color: #333;
    font-family: "Merriweather";
    margin: 0;
}
article.container > section .article-synopsis {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #767676;
    font-family: "Merriweather";
    margin: 26px 0 0 0;
}
article.container .article-image {
    margin: 8px 0 0 0;
}
article.container > section .article-image-info {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #767676;
    font-family: "Open Sans";
    margin: 8px 0 0 0;
}
article.container > section  {
    width: 100%;
}
article.container > section div.social {
    margin-top: 26px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    width: 100%;
    display: flex;
}
article.container > section div.social-i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px 4px 4px 0;
}
article.container > section div.social-i span {
    font-size: 20px;
}
article.container > section div.social-i.more span {
    font-size: 30px;
}
.facebook {
    color: #FFF;
    background-color: #3067a3;
}
.twitter {
    color: #FFF;
    background-color: #03b3ee;
}
.mail {
    color: #FFF;
    background-color: #767676;
}
.more {
    color: #767676;
    background-color: #eaeaea;
}
article.container > section .article-author {
    font-size: 15px;
    font-weight: 400;
    color: #005689;
    font-family: "Merriweather";
    margin-top: 8px;
}
article.container > section .article-time {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #767676;
    font-family: "Open Sans";
    margin: 0 0 0 0;
}
article.container > section .article-updated {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #767676;
    font-family: "Open Sans";
    margin: 2px 0 0 0;
}
article.container > section .body {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #575757;
    font-family: "Merriweather";
    margin: 26px 0 0 0;
}
