/*Author: Hugo Pretorius
Assignment: Minor Project – FDWM Assessment 2
Student ID: STU-00001224
Date: 2017/02/06
Ref:
https://materialdesignicons.com/
https://fonts.google.com/specimen/Merriweather?selection.family=Merriweather:400,700|Open+Sans:300,400
https://html5boilerplate.com/*/

/*exception styles*/
.no-left-border {
    overflow: hidden;
}



/*mobile first styles / generic styles / media free styles*/

main {
    background-color: #f5f5f5;
}
main .container {
    background-color: #FFF;
}

/*section styles*/
section header {

}
section header.section-header-news {
    margin-top: 10px;
    border-top: 1px solid #4bc6df;

}
section footer div {
    display: flex;
    clear: both;
    align-items: center;
    border-radius: 15px;
    background-color: #005689;
    color: #FFF;
    height: 30px;
    font-family: "Open Sans";
    font-weight: 300;
    color: #fff;
    cursor: pointer;
}
section footer div:hover {
    background-color: #00365A;

}
section footer div.tech {
    width: 150px;
}
section footer div.news {
    width: 116px;
}
section footer span:hover  {
    color: #fff;
}
section footer div .mdi {
    font-size: 30px;
    margin-left: 2px;
}
.section-inner {
    padding: 4px 10px;
    max-width:640px;
    width: 100%;
    margin: auto;
}



/*article types styles*/
.normal {
    background-color: #f6f6f6;
    color: #5c5c5c;
}
.rating {
    background-color: #7D756A;
    border-top-color: #ffce4b!important;
    color: #e5e3e1;
}
.comments {
    background-color: #951C5F;
    color: #FFF;
}



/*featured articles*/
article.featured {
    display: flex;
    flex-direction: column-reverse;
    flex:1;
    border-top: 1px solid #4bc6df;
    margin-bottom: 12px;
}
article.featured .title-ct {
    display: flex;
    flex: 1;
    padding: 5px;
}
article.featured .title {
    font-weight: 400;
    font-size: 18px;
    font-family: "Merriweather";
    margin: 0;
    line-height: 24px;
}
article.featured .img-ct {
}
article.featured img {

}

/*featured articles*/
article.featured-news {
    display: flex;
    flex-direction: row;
    flex:1;
    border-top: 1px solid #4bc6df;
    margin-bottom: 12px;

}
article.featured-news .title-ct {
    flex: 4;
    padding: 3px;
}
article.featured-news .title {
    font-weight: 400;
    font-size: 15px;
    font-family: "Merriweather";
    margin: 0;
    line-height: 18px;
}
article.featured-news .img-ct {
    flex: 1;
    padding: 3px;
    min-width: 130px;
}
article.featured-news img {

}


/*standard articles*/
article.standard {
    display: flex;
    flex-direction: row;
    flex:1;
    border-top: 1px solid #4bc6df;
    margin-bottom: 12px;

}
article.standard .title-ct {
    flex: 4;
    padding: 3px;
}
article.standard .title {
    font-weight: 400;
    font-size: 15px;
    font-family: "Merriweather";
    margin: 0;
    line-height: 18px;
}
article.standard .img-ct {
    flex: 1;
    padding: 3px;
    min-width: 130px;
}
article.standard .img {

}



/*half articles*/
article.half {

}




/*  */
@media (min-width: 480px) {
    /*section styles*/
    .section-inner {
        padding: 4px 20px;
    }
}

/*  */
@media (min-width: 740px) {
    /*section styles*/
    .section-inner {
        padding: 4px 10px 30px 10px;
        max-width: none;
        width: auto;
        border-bottom: 1px solid #4bc6df;
    }
    section header {
        padding-left: 10px;
        padding-top: 8px;
    }
    section footer {
        padding-left: 10px;
    }


    /*featured articles*/
    article.featured {
        display: flex;
        flex-direction: row;
        flex:1;
    }
    article.featured .title-ct {
        display: flex;
        flex: 1;
    }
    article.featured .title {
        font-size: 18px;
        font-family: "Merriweather";
    }
    article.featured .img-ct {
        display: flex;
        flex: 2;
    }
    article.featured img {

    }
    /*standard articles*/
    article.standard {
        display: flex;
        flex-direction: column;
        flex:1;
        border-top: 1px solid #4bc6df;
        margin-bottom: 12px;
    }
    article.standard .title-ct {
        padding: 5px;
    }
    article.standard .title {

    }
    article.standard .img-ct {
        min-width: none;

        flex: 1;
        padding: 0;
        min-width: 130px;

    }
    article.standard .img {

    }
}

/*  */
@media (min-width: 980px) {
    article.featured .title-ct {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    article.featured .title {
        font-size: 22px;
        line-height: 26px;
        font-family: "Merriweather";
    }
    article.featured .synopsis {
        font-size: 12px;
        font-family: "Merriweather";
        margin-top: 12px;
        font-weight: 300;
    }
    /*standard articles*/
    article.standard {

    }
    article.standard .title-ct {
        padding: 5px;
    }
    article.standard .title {
        font-size: 18px;
        line-height: 22px;
    }
    article.standard .img-ct {
        min-width: none;

        flex: 1;
        padding: 0;
        min-width: 130px;

    }
    article.standard .img {

    }
    section.news-3 {
        float: left;
        display: flex;
        flex-direction: column;
    }
}

/*  */
@media (min-width: 1140px) {
    /*section styles*/
    .section-inner {
        display: flex;
        flex-direction: row;
        padding-top: 12px;

    }
    section header {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #4bc6df;
        padding-left:0;
        padding-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 140px;
    }
    section header.section-header-news {
        margin-top: -10px;
        border-top: none;

    }
    section header h1.g-tech {
        font-size: 18px;
    }
    section footer div {

    }
    section footer div:hover {

    }
    section footer div.tech {

    }
    section footer span:hover  {

    }
    section footer div .mdi {

    }


}

/*   */
@media (min-width: 1300px) {
    section header {
        min-width: 220px;
    }

}










/*typography only styles*/
h1.g-tech {
    font-weight: 700;
    color: #01456E;
    font-size: 20px;
    font-family: "Merriweather";
    margin-top: 0;
}
h2 {

}
h3 {
    font-family: "Merriweather";
}
h4 {
    font-family: "Merriweather";
}
p {
    font-family: "Merriweather";
}
/*  */
@media (min-width: 740px) {

}

/*  */
@media (min-width: 980px) {

}

/*  */
@media (min-width: 1140px) {
    nav.nav-complete div.container-fluid div.container > ul > li > ul > li > a {
        padding: 0 5px 0 10px;
    }
}

/*   */
@media (min-width: 1300px) {
    nav.nav-complete div.container-fluid div.container > ul > li > a {
        min-width: 240px;
    }
}
