/*Author: Hugo Pretorius
Assignment: Minor Project – FDWM Assessment 2
Student ID: STU-00001224
Date: 2017/02/06
Ref:
https://materialdesignicons.com/
https://fonts.google.com/specimen/Merriweather?selection.family=Merriweather:400,700|Open+Sans:300,400
https://html5boilerplate.com/*/


body {
    font-family: "Merriweather";
}


header.container-fluid {
    background-color: #005689;
    padding: 0;
}
.header-inner-top {
    height: 48px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-dummy {
    flex: 1
}
.header-inner-top > .left {
    height: 48px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    padding-left: 8px;
}
.header-inner-top > .right {
    height: 48px;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    margin-right: -4px
}
.header-inner-top-logo {
    padding-right: 10px;
}
.header-inner-top-logo > svg {
    width: 160px;
    height: 37px;
}
.header-inner-logo-ct {
    float: right;
    display: none;
    flex-direction: column;
    margin: 6px 7px 8px 0;
    cursor: pointer;
}
.header-inner-logo {

}
.vertical-divider {
    width:0px;
    height:22px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.naked-link {
    margin: 0 8px 0 12px;
    vertical-align: 2px;
    cursor: pointer;
}
.naked-link:hover {
    color: #FFF;
    text-decoration: underline;
}
.naked-link .drop-down {
    font-size: 18px;
    vertical-align: -3px
}
.icon-circle-link {
    display: inline-block;
    cursor: pointer;
    margin-right: 6px;
}
.icon-circle-link .header-link-text {
    vertical-align: 5px;
}

.icon-circle-link:hover .header-link-text {
    color: #FFF;
    text-decoration: underline;
}
.icon-circle-link:hover .header-link-icon-ct {
    border-color: #FFF;
}
.round-guardian-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 8px;
}
.header-link-icon-ct {
    border: 1px solid rgba(255,255,255,0.3);
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.header-link-icon {
    color: #FFF;
    font-size: 24px;
}
.header-link-icon.mdi-dots-horizontal {
    font-size: 36px;
}
.site-of-the-year {
    align-self: flex-end;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 300;
    color: #aad8f1;
    margin-top: -12px;
}
.site-of-the-year:hover {
    color: #aad8f1;
    text-decoration: underline;
}
.header-inner-bottom {
    height: 36px;
    background-color: #00507f;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    max-width: 100%;
    margin-top: 4px;
}
.header-inner-bottom .container {
    background-color: #00456e;
    position: relative;
    width: 100%;
}
/*  */
@media (min-width: 480px) {
    .header-inner-top > .left {
        padding-left: 12px;
    }
    .header-inner-top-logo {
        padding-right: 20px;
    }
}


/*  */
@media (min-width: 740px) {
    .header-link-icon-ct {
        margin: 0 6px 0 6px;
    }
    .icon-circle-link {
        margin-right: 13px;
    }
    .header-inner-bottom {
        margin-top: 0;
    }
}












/*nav-simplified styles*/
nav.nav-simplified {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
}
nav.nav-simplified ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
nav.nav-simplified .home-icon {
    color: #FFF;
    font-size: 24px;
    margin-right: 5px;
    margin-left: 14px;
}
nav.nav-simplified ul li {
    display: inline-block;
    padding: 0 8px 0 8px;
}
nav.nav-simplified ul li a {
    color: #FFF;
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 15px;
    vertical-align: 2px;
}
nav.nav-simplified nav.g-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    height: 36px;
    background-color: #dfdfdf;
    min-width: 142px;
    width: 142px;
    margin-right: 10px;
}
nav.nav-simplified nav.g-breadcrumb.menu-open {
    min-width: 100%;
}
nav.nav-simplified nav.g-breadcrumb a {
    color: #005689;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 15px;
    margin-left: 6px;
    vertical-align: 4px;
}
nav.nav-simplified nav.g-breadcrumb .mdi {
    color: #777;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 19px;
    margin-left: 3px;
}



/*nav-complete styles*/

nav.nav-complete {
}
nav.nav-complete div.container-fluid {
    background-color: #e5e5e5;
}
nav.nav-complete div.container-fluid div.container {
    background-color: #dfdfdf;
}
nav.nav-complete div.container-fluid div.container ul {
    margin: 0;
    padding: 0;
}
nav.nav-complete div.container-fluid div.container ul li {
    display: flex;
    flex-direction: row;
}
nav.nav-complete div.container-fluid div.container > ul > li > a {
    display: flex;
    min-width: 160px;
    background-color: #00456e;
    padding-left: 20px;
    border-top: 1px solid #005689;
    min-height: 35px;
    align-items: center;
    font-size: 15px;
    color: #FFF;
    font-family: "Merriweather";
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
nav.nav-complete div.container-fluid div.container > ul > li > ul {
    display: flex;
    flex: 1;
    border-top: 1px solid #f5f5f5;
    padding-left: 9px;
    flex-wrap: wrap;
}
nav.nav-complete div.container-fluid div.container > ul > li > ul > li {
    display: inline-block;
}
nav.nav-complete div.container-fluid div.container > ul > li > ul > li > a {
    font-size: 15px;
    color: #333;
    font-family: "Merriweather";
    font-weight: 400;
    padding: 0 5px 0 10px;
    line-height: 30px;
    cursor: pointer;
}
div.g-breadcrumb {
    flex-direction: row;
    height: 36px;
    align-items: center;
    padding-left: 12px;
}
div.g-breadcrumb a {
    color: #005689;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 15px;
    margin-left: 6px;
    vertical-align: 2px;
}
div.g-breadcrumb .mdi {
    color: #777;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 19px;
    margin-left: 6px;
}
/*  */
@media (min-width: 740px) {

}

/*  */
@media (min-width: 980px) {

}

/*  */
@media (min-width: 1140px) {
    nav.nav-complete div.container-fluid div.container > ul > li > ul > li > a {
        padding: 0 5px 0 10px;
    }
}

/*   */
@media (min-width: 1300px) {
    nav.nav-complete div.container-fluid div.container > ul > li > a {
        min-width: 240px;
    }
}

/*all-sections styles*/
.all-sections {
    height: 36px;
    background-color: #333;
    padding: 0 14px 0 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.all-sections:hover span:not(.mdi) {
    text-decoration: underline;
}
.all-sections span:not(.mdi) {
    background-color: #333;
    color: #FFF;
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 15px;
    vertical-align: 2px;
}
.all-sections span.mdi {
    color: #FFF;
    font-size: 22px;
    margin-right: 4px;
}



/*Typography styles*/
.header-link-text {
    color: #FFF;
    font-size: 13px;
    font-family: "Merriweather";
    font-weight: 200;
}
